* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.product-box {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-box__img {
  width: 724px;
}
.product-box__btn {
  width: 47px;
  height: 47px;
}

.product_content {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  background-color: #FFFFFF;
  padding: 64px 16px;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  border: 1px solid #EAEAEA;
}
.product_content__type {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #f16d7f;
}
.product_content__divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
}
.product_content__name {
  padding-top: 12px;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}
.product_content__text {
  padding-top: 48px;
  padding-left: 292px;
  padding-right: 292px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #5e5e5e;
}
.product_content__price {
  padding-top: 32px;
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ef5b70;
}
.product_content__line {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 642px;
  border: 1px solid #eaeaea;
}

.product_content_sort {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}
.product_content_sort__group {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6f6e6e;
  border: 0px;
  background-color: #FFFFFF;
}
.product_content_sort__btn {
  display: flex;
  gap: 9px;
}

.product_content_addBtn {
  padding-top: 48px;
}
.product_content_addBtn__btn {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f26376;
  width: 212px;
  height: 48px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
  border: 1px solid #ff6a6a;
  background-color: #FFFFFF;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24ps;
  line-height: 29px;
  color: #f16d7f;
}

.bredcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14ps;
  line-height: 17px;
  color: #636363;
}

.bredcrumbs__link_site {
  font-weight: 700;
  color: #f16d7f;
}/*# sourceMappingURL=styleProduct.css.map */