$colorSelectSite: #f16d7f;
// $colorSelectSite: #0000;
$backBlock: #222;
$widthSite: 1140px;
$widthSiteTablet: 768px;
$colorText: #000;
$gapGrid:30px;
$thridSite: calc($widthSite - $gapGrid)/3;
$widthBurgerMenu:232px;
$backgroundColor:#FFFFFF;